{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About - Jenni</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="/build/tailwind.css">
</head>
<body class="bg-gray-300">
<div class="bg-gray-100 flex">

    <div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:max-w-full lg:w-1/2 lg:py-24 lg:px-12">
        <div class="xl:max-w-lg xl:ml-auto">
            <img class="h-20" src="https://i.ibb.co/MDX5bt95/logo.jpg" alt="logo">
        <img class="mt-6 rounded-lg shadow-xl sm:mt-8 sm:h-64 sm:w-full sm:object-cover sm:object-center lg:hidden"
             src="https://i.ibb.co/spjSGQnx/remodel-kitchen.jpg" alt="remodel-kitchen">
        <h1 class="mt-6 text-2xl font-bold text-gray-900 leading-tight sm:mt-8sm:text-4xl lg:text-3xl xl:text-4xl">You can renovate your kitchen
            that you appreciate everyday,
            <br class="hidden lg:inline"><span class="text-indigo-500"> with a little help.</span>
        </h1>
        <p class="mt-2 text-gray-600 sm:mt-4 sm:text-xl">
            Jenni home remodeling helps you design a beautiful kitchen with modernized space, better layout, and a fresh environment. We also help you order the parts you need and
            handle shipping.
        </p>
        <div class="mt-4 sm:mt-6">
            <a href="/contact"
               class="inline-block rounded-lg bg-indigo-500 px-5 py-3 text-white uppercase tracking-wider font-semibold sm:text-base">Book
                your appointment</a>
        </div>
        </div>

    </div>

    <div class="hidden lg:block lg:w-1/2 lg:relative">
        <img class="absolute inset-0 h-full w-full object-cover object-center"
             src="https://i.ibb.co/spjSGQnx/remodel-kitchen.jpg" alt="remodel-kitchen">
    </div>


</div>


</body>
</html>
