{% extends "base.html" %}

{% block content %}
    <div class="container">
        <section class="flex flex-col ">
            <div class="flex-row p-2">
                <img class="float-right p-3" src="https://i.postimg.cc/7Lgb7Scq/kitchen-home.jpg">
                <h1 class="text-6xl">Jenni Home Improvement Services </h1>
                <p class="text-3xl p-3">One to one free consulting</p>
                "Planning and installing your dream kitchen is straightforward, but we know everyone's needs
                are different. That's why we offer flexible support options - from complimentary services to
                affordable professional assistance. You're in control of how much help you need.
                Explore our service options below to find the perfect fit for your project. Have questions? I am
                here to help! Reach me at 1-393-8899 (3PM-6PM EST) or schedule a
                consultation to discuss your kitchen transformation."
                </p>
                
                <p class="p-3">規劃和安裝您夢想中的廚房其實很簡單，但我們了解每個人的需求都不盡相同。因此，我們提供彈性的支援選項——從免費服務到實惠的專業協助，任您選擇。您可以自行決定需要多少幫助。請參閱下方的服務選項，找到最適合您專案的方案。有任何疑問嗎？我隨時樂意協助您！歡迎致電 1-393-8899（美東時間下午3點至6點），或預約諮詢，一同討論您的廚房改造計畫。</p>
                
            </div>
        </section>
    </div>
{% endblock %}